node_modules/
data/*
!data/weights.json
!data/bodyweight.json
!data/goals.json
!data/nutrition.json
.DS_Store
ios/*.xcodeproj/
ios/Signing.xcconfig
ios/Baymax/Info.plist
ios/Baymax/Baymax.entitlements
